# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
pip-wheel-metadata/
develop-eggs/
parts/
sdist/
var/
wheels/
*.egg
MANIFEST

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/
# Consider adding if notebook outputs are large and not essential for version control:
# *.ipynb

# Test related
.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.hypothesis/

# IDE / Editor
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.tar.gz
*.whl
*.zip
